
@{
    ViewData["Title"] = "SanPham";
}
@model SanPhamViewModel

<h2>Thông tin sản phẩm</h2>

<p><strong>Tên sản phẩm:</strong> @Model.TenSanPham</p>
<p><strong>Giá bán:</strong> @Model.GiaBan VND</p>
<p><strong>Ảnh mô tả:</strong></p>
<img src="@Model.AnhMoTa" alt="@Model.TenSanPham" width="300" />

