
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="container">
    <table class="table">
    <thead>
        <th>Tên Thể Loại</th>
        <th>Ngày Tạo</th>
    </thead>
    <tbody>
        @foreach( var item in ViewBag.TheLoai)
            {
                <tr>
                    <td width="30%">
                        @item.Name
                    </td>
                    <td width="70%">
                        @String.Format("{0:dd/MM/yyyy}",item.DateCreated)
                    </td>
                </tr>
            }
        </tbody>
</table>
</div>

