
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<header>
    <h2>GIỚI THIỆU</h2>
</header>

<section>
    <nav>
        <ul>
            <li><a href="~/trang-chu">Bản thân</a></li>
            <li><a href="~/gioi-thieu-nhom">Nhóm</a></li>
        </ul>
    </nav>

    <article>
        <table>
            <thead>
            <th>STT</th>
            <th>Mã số sinh viên</th>
            <th>Họ và tên</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>001</td>
                    <td>Nguyễn Tấn Phú</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>002</td>
                    <td>Nguyễn Trương Tấn Quyền</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>003</td>
                    <td>Phạm Ngọc Sang</td>
                </tr>
               
            </tbody>
        </table>
    </article>
</section>

<footer>
    <p>Copyright &copy; Nguyễn Trương Tấn Quyền - @DateTime.Now.Year</p>
</footer>