@model IEnumerable<TheLoai>


<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="projects.html" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Sản Phẩm
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        @foreach (var item in Model)
        {
            <li>
                <a asp-controller="Home" asp-action="FilterByTheLoai" asp-route-id="@item.Id" class="dropdown-item">@item.Name</a>
            </li>
        }
    </ul>
</li>