@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <hr/>
    <h2>Hello toi la quyen </h2>>
    <hr/>
    <ul>
        @for(int i=0; i<=2;i++)
        {
            <li>Item @i</li>

        }
    </ul>
    <hr/>
    @{
        int h = DateTime.Now.Hour;
    }
    @if(h   <12)
    {
        <p>Good morning(@h)</p>
    }
    else
    {
        <p>Good afternoon(@h)</p>
    }
    <div>
        @for (int i = 2; i <= 9; i++)
        {
            <h2>Bảng cửu chương @i</h2>
            <table border="1" cellpadding="5" cellspacing="0">
                @for (int j = 1; j <= 10; j++)
                {
                    <tr>
                        <td>@i x @j</td>
                        <td><p>=</p></td>
                        <td>@( i * j)</td>
                    </tr>
                }
            </table>
            <br />
        }

    </div>
</div>

<style>
    h1 {
        text-align: center;
        color: #333;
    }

    h2 {
        color: #555;
    }

    table {
        width: 50%;
        margin: 0 auto;
        border-collapse: collapse;
    }

    td {
        text-align: center;
    }

    div {
        padding: 20px;
    }
</style>
