@{
    ViewData["Title"] = "Home Page";
}


<header>
    <h2>GIỚI THIỆU</h2>
</header>

<section>
    <nav>
        <ul>
            <li>@ViewBag.Hoten</li>
            <li>@ViewBag.MSSV</li>
        </ul>
    </nav>
    
    <p>------</p>
    <img src="~/img/1.jpg" style="width:100px;" />
    <article>
        
    </article>
</section>

<footer>
    <p>Copyright &copy; Nguyễn Trương Tấn Quyền - @ViewData["Nam"]</p>
</footer>

